* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #90949c;
  margin: auto;
}
html,
body {
  font-family: 'Rubik', sans-serif;
  color: #ecebe7;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lobster', cursive;
  color: #ecebe7;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
nav {
  background-color: #6e7e87;
  text-align: center;
  padding: 30px;
}
@media (max-width: 500px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
nav a {
  padding-left: 10px;
  padding-right: 10px;
  color: #ecebe7;
  text-decoration: none;
  font-size: 2.5rem;
}
@media (max-width: 500px) {
  nav a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
header {
  display: flex;
  justify-content: center;
  padding: 5%;
}
@media (max-width: 500px) {
  header {
    flex-direction: column;
    align-items: center;
  }
}
header div {
  width: 100%;
  text-align: center;
}
header button {
  color: #ecebe7;
  border: 2px solid #ecebe7;
  border-radius: 5px;
  padding: 10px;
  font-size: 2rem;
  font-family: 'Rubik', sans-serif;
  background-color: #90949c;
}
header img {
  width: 100%;
  border-radius: 20px;
}
.contentOne {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin-left: 5%;
  margin-right: 5%;
}
@media (max-width: 500px) {
  .contentOne {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.contentOne div {
  width: 48%;
}
@media (max-width: 500px) {
  .contentOne div h2 {
    text-align: center;
  }
}
@media (max-width: 500px) {
  .contentOne div {
    width: 100%;
  }
}
.contentOne img {
  width: 100%;
  border-radius: 20px;
}
.contentTwo {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 30px;
}
.contentTwo div {
  width: 33%;
  padding-left: 1%;
  padding-right: 1%;
}
@media (max-width: 500px) {
  .contentTwo div {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .contentTwo {
    flex-direction: column;
    align-items: center;
  }
}
.left h2,
.middle h2,
.right h2 {
  text-align: center;
}
.bottombutton {
  display: flex;
  justify-content: center;
}
.bottombutton button {
  color: #ecebe7;
  border: 2px solid #ecebe7;
  border-radius: 5px;
  padding: 10px;
  font-size: 2rem;
  font-family: 'Rubik', sans-serif;
  background-color: #90949c;
}
